<h1>WELCOME TO CHITTER</h1>

<h1>Please sign up</h1>

<form action='/users' method='POST'>
  <label for='email'>
    Email: <input name='email' type='text'>
  </label>
  <label for='password'>
    Password: <input name='password' type='password'>
  </label>
  <label for='password confirmation'>
    Confirm your Password: <input name='password_confirmation' type='password'>
  </label>
  <input type='submit' value='Sign up'>
  <input type='submit' value='Log in'>
</form>
